<h1>Comments</h1>

<ul>
    <% @comments.each do |comment| %>
        <li>
            <strong> <%= comment.content %> </strong>

        </li>
    <% end %>
</ul>


<%= link_to "Back to Today's Matches", matches_path %>

