<div class = "webcontainer">
<h1 class="h1today">Today's Matches: I Want You So Bad <%= emojify(":smiling_imp:") %></h1>


<ul class="scroll_match">
    <% @matches.each do |match| %>
        <li>
            <strong> <%= match.first_name %> </strong>
            <div class="field">

  </div>

            <img src="<%= match.image %>" width=100px height=100px>
            <%= link_to emojify("Check Me Out :heart:"), match_path(match) %>

        </li>
    <% end %>
</ul>
</div>

