/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.existing_comment {
    position: absolute;
    top: 120px;
    right: 680px;
    font-size: 20px;

}

.comment_class {
    position: absolute;
    top: 180px;
    right: 480px;
    width: 500px;
    height: 500px;
    font-weight: bold;
    font-size: 20px;
    border: 3px solid black;
    background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQKTk3roewK2ApFTdHDKIv7yjqnPRIQHrIsQslHiYFUStnDDDfUNA")
}

.scroll_match {
    width: 400px;
    height: 400px;
    overflow: scroll;
    margin: auto;
    width: 60%;
    padding: 10px;
}

.h1fantasy {
  color: #ff4411;
  font-size: 55px;
  font-family: 'Signika', sans-serif;
  padding-bottom: 10px;
}

.h1today{
  color: #ff4411;
  font-size: 30px;
  font-family: 'Signika', sans-serif;
  padding-bottom: 10px;
}

.signup_container {
    position: absolute;
    left: 400px;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    width: 500px;
    height: 580px;
    background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcShyiE_xCQfAbl9AcA_gphjubsXRN6gDFlmNybuKg-6a3-tQaDb");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.login {
    position: absolute;
    left: 500px;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    width: 290px;
    height: 350px;
    background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRpvjWxSpMnciUm1nA6qXVAq12NhOLnHJK7qsj2rHDbyTtFSqmX");
}

.userprofile {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 18px
}

.webcontainer {
   width:100%;
    min-width:1000px;
    height:auto;
}

.edituser {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 18px
}

.editcomment {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 18px
}

